<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Draft Bachelor</title>
    <style>
        body {
            font: 14px sans-serif;
        }
        .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis path{
            fill: none;
            stroke: none;
        }
        .bar {
            fill: steelblue;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="stylesheets/structure.css"/>
    <!-- <link rel="stylesheet" href="stylesheets/angucomplete.css"/> -->
    <link rel="stylesheet" href="fonts/bariol/bariol.css"/>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-touch.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script> 
    <script src="javascripts/app.js"></script>
    <!-- // <script src="javascripts/angucomplete-alt.js"></script> -->

  </head>
  <body> 
    <!-- APP -->
    <div ng-app="fantasyDraftBachelor">
      <!-- CONTROLLER -->
      <div ng-controller="dashController">
        <!-- DEBUG -->
        
<!--         <ul ng-repeat="user in users">
        <li> user: {{ user }} </li>
        <li> user: {{ userMappings }} </li>
        </ul>
        <ul ng-repeat="contestant in contestantsA">
        <li> contestant: {{ contestant }} </li>
        </ul> -->
<!--         <ul ng-repeat="nonElimContestant in nonElimContestants">
        <li> nonElimContestant:{{ nonElimContestant }} </li>
        </ul>
 -->
        <div class="row">

          <div class="col-md-6">
            <div class="container">
              <div class="header">
                <h1>Users</h1>
                <!-- <h1 class="lead">Political Scorecard Conglomerator</h1> -->
              </div>
              <br>
              <div class="todo-list">
                  <ul>
                      <li ng-repeat="user in users"> 
                        <h2> {{user.user}}   <span style="font-size:70%">{{user.numRemaining}} picks remain</span> </h2>
                        
                          <ul>
                              <li ng-repeat="datum in user.data">
                                <div class="row">
                                <div class="col-xs-6"> 
                                  <h4> {{datum.rank}} - {{datum.contestant_name}} {{datum.elimText}}</h4>
                                </div>
                                <div class="col-xs-6">
                                  <picture>
                                    <img src="{{datum.img_url}}" alt="{{datum.contestant_name}}" height="50" width="50">
                                  </picture>
                                </div>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
            </div>
          </div>

        <div class="col-md-6">
          <div class="container">
            <div class="header">
              <h1>Contestants</h1>
              <!-- <h1 class="lead">Political Scorecard Conglomerator</h1> -->
            </div>
            <br>
            <div class="todo-list">
              <div class="col-xs-6">
              <ul ng-repeat="contestant in contestantsA">
                <li>
                  <br>
                  <h2>{{contestant.name}} </h2>
                  <!-- {{contestant.elimText}} -->
                  <picture>
                    <!-- <source srcset="mdn-logo-wide.png" media="(min-width: 600px)"> -->
                    <img src="{{contestant.img_url}}" alt="MDN" height="150" width="150">
                  </picture>
                  </li>
                </ul>
              </div>
                            <div class="col-xs-6">
              <ul ng-repeat="contestant in contestantsB">
                <li>
                  <br>
                  <h2>{{contestant.name}} </h2>
                  <picture>
                    <img src="{{contestant.img_url}}" alt="{{contestant.name}}" height="150" width="150">
                  </picture>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- CLOSE CONTROLLER -->
  </div> <!-- CLOSE APP -->
    <!-- scripts -->
  </body>
</html>