<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Draft Bachelor</title>
    <style>
        body {
            font: 14px sans-serif;
        }
        .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis path{
            fill: none;
            stroke: none;
        }
        .bar {
            fill: steelblue;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--    <link rel="stylesheet" media="screen" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" media="screen">-->
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="stylesheets/structure.css"/>
    <link rel="stylesheet" href="stylesheets/angucomplete.css"/>
    <link rel="stylesheet" href="fonts/bariol/bariol.css"/>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>-->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-touch.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script> 
<!--     // <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script> -->
    <!-- // <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> -->
    <!-- // <script src="javascripts/angular-chart.js"></script> -->
    <!-- // <script src="javascripts/reusable_chart.js"></script> -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/angucomplete-alt.js"></script>
<!--     // <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script> -->
    <!-- // <script src="https://netdna.bootstrapcdn.com/bootstrap//3.3.1/js/bootstrap.min.js" type="text/javascript"></script> -->

  </head>
  <body> 
    <!-- APP -->
    <div ng-app="fantasyDraftBachelor">
      <!-- CONTROLLER -->
      <div ng-controller="dashController">
        <!-- DEBUG -->
        
<!--         <ul ng-repeat="user in users">
        <li> user: {{ user }} </li>
        </ul>
        <ul ng-repeat="contestant in contestants">
        <li> contestant: {{ contestant }} </li>
        </ul> -->
<!--         <ul ng-repeat="nonElimContestant in nonElimContestants">
        <li> nonElimContestant:{{ nonElimContestant }} </li>
        </ul>
 -->
        <div class="row">

          <div class="col-md-6">
            <div class="container">
              <div class="header">
                <h1>Users</h1>
                <!-- <h1 class="lead">Political Scorecard Conglomerator</h1> -->
              </div>
              <br>
              <div class="todo-list">
                <ul ng-repeat="user in users">
                  <li>
                    <h4>{{user.name}}</h4>
                    <picture>
                      <!-- <source srcset="mdn-logo-wide.png" media="(min-width: 600px)"> -->
                      <!-- <img src="{{elimContestant.img_url}}" alt="MDN"> -->
                    </picture>
                    </li>
                  </ul>
              </div>
            </div>
          </div>

        <div class="col-md-6">
          <div class="container">
            <div class="header">
              <h1>Contestants</h1>
              <!-- <h1 class="lead">Political Scorecard Conglomerator</h1> -->
            </div>
            <br>
            <div class="todo-list">
              <ul ng-repeat="contestant in contestants">
                <li>
                  <br>
                  <h2>{{contestant.name}} {{contestant.elimText}}</h2>
                  <picture>
                    <!-- <source srcset="mdn-logo-wide.png" media="(min-width: 600px)"> -->
                    <img src="{{contestant.img_url}}" alt="MDN">
                  </picture>
                  </li>
                </ul>
            </div>
          </div>
        </div>

<!--         <div class="container">
          <div class="header">
            <h1>Eliminated</h1>
          </div>
          <br>
          <div class="todo-list">
            <ul ng-repeat="elimContestant in elimContestants">
              <li>
                <h2>{{elimContestant.name}}</h2>
                <picture>
                  <img src="{{elimContestant.img_url}}" alt="MDN">
                </picture>
                </li>
              </ul>
          </div>
        </div>
 -->      


      </div> <!-- CLOSE CONTROLLER -->
  </div> <!-- CLOSE APP -->
    <!-- scripts -->
  </body>
</html>